 body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 12px 50px -11px rgb(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 36%;
    height: 200px;
    margin: 50px auto;
  }
  
  .container {
    margin-top: 20px;
    margin-left: 390px;
  }

  .simp-txt {
    font-size: 12px;
    color: gray;
  }

  .deg {
    margin-top: -60px;
    margin-left: -380px;
  }

  .type {
    margin-top: -26px;
    margin-left: -247px;
  }

  form {
    margin-left: 40px;
    margin-bottom: -35px;
  }
  

  input[type="text"] {
    padding: 8px;
    margin-left: -420px;
    width: 80px;
    border-color: rgb(172, 172, 172);
    border-radius: 4px;
    border-width: 1px;
  }
  
  select {
    margin-left: 30px;
    width: 150px;
    height: 33px;
    font-size: 15px;
    letter-spacing: 1px;
    border-color: rgb(153, 152, 152);
    border-radius: 4px;
    border-width: 1px;
  }

  button {
    padding: 8px 20px;
    border-radius: 3px;
    background-color: #007bff;
    color: white;
    height: 33px;
    margin-left: -60px;
    border: none;
    cursor: pointer; 
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .res {
    font-size: 12px;
    color: gray;
    margin-top: 20px;
    margin-left: -379px;
  }

  #convertedTemperature {
    font-size: 18px;
    font-weight: bold;
    margin-top: -6px;
    margin-left: -379px;
  }

  /* Media query for mobile devices */
  @media only screen and (max-width: 600px) {
    body {
      margin-top: 120px;
      margin-left: 40px;
      width: 50%; /* Adjust width for better fit on smaller screens */
    }
  
    .container {
      margin-top: 60px; /* Adjust margin-top for better spacing on smaller screens */
    }
  
    .deg {
        margin-left: -270px;
    }

    .type {
      margin-left: -210px; /* Adjust margins for better alignment on smaller screens */
    }
  
    input[type="text"] {
      margin-left: -310px;
        width: 20px; /* Adjust width for better fit on smaller screens */
    }
  
    select {
        font-size: 14.5px;
      margin-left: 18px;
        width: 50px; /* Adjust width for better fit on smaller screens */
    }

    button {
        margin-left: -140px;
        width: 70px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .res {
        margin-left: -270px;
    }

    #convertedTemperature {
        margin-left: -270px;
    }
  }
  